
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), Ohsl (199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: ■rgb(240, 240, 246);
  --cardBG: ■rgb(225, 225, 235);
}
* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.header {
  background-color: var(--PrimaryColor);
}
.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn{
  color: var(--whiteColor);
  background: var(--PrimaryColor);
}

.btn a {
  color: var(--PrimaryColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}
img,
video {
  width: 100%;
  height: auto;
}

body {
  background: var(--bodyColor);
}
.grid {
  display: grid;
  align-items: center;
}
.section{
  padding:  4rem 0 2rem;
}


@media screen and (min-width: 940px) {
  body {
      zoom:1.3;
  }
}

